<div class="centro">
	<h1>Hello, Rails & Ruby!</h1>
	<h2>Meu nome é Ruan Kaylo.</h2>
	<p class="pAzul">Primeiro dia de Trabalho no 180graus.</p>
</div>
<p />
<div class="centro">
	<h2><%= link_to 'My Blog', controller: 'articles' %></h2>
<div>